@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

.App {
  padding: 20px 0;
  font-family: "Josefin Sans", sans-serif;
  color: #82655b;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

footer p {
  position: relative;
  bottom: 113px;
  letter-spacing: 0.05rem;
  font-weight: 400;
  margin: 0 0 -2px 0;
}

.open-source {
  color: #ffccdc;
  padding: 2px 5px;
  transition: all 450ms ease-in-out;
}

.open-source:hover {
  text-decoration: none;
  background: #82655b;
  color: #f9f9ed;
}
