/* forecast */

div.container.beige {
  background-color: #f9f9ed;
  height: 288px;
  padding-top: 80px;
  width: 550px;
  text-align: center;
  position: relative;
  z-index: -2;
  bottom: 120px;
  border-radius: 10px;
}

.three-day {
  padding-top: 7px;
  margin-left: -15px;
}

.beige canvas {
  display: block;
  padding: 10px;
  margin-bottom: 18px !important;
  margin-left: 5px !important;
}

.day {
  text-transform: lowercase;
}
