/* top bar */

.container.search {
  margin: 0 auto;
  position: block;
  width: 550px;
  color: #82655b;
}

div.row {
  margin: 0 auto;
  width: 550px;
}

.icon {
  width: 120px;
  position: relative;
  right: 29px;
}

.form-control {
  margin-top: 50px;
  margin-left: 60px;
  background-color: #f8dce6 !important;
  border: none !important;
  color: #82655b !important;
}

.form-control::-webkit-input-placeholder {
  color: #82655b !important;
}

.form-control:hover,
.form-control:focus {
  background: #f9f9ed !important;
  box-shadow: none !important;
}

.form-control.go {
  margin-left: 45px;
}

button.geolocation {
  color: #f8dce6;
  background: none;
  border: none !important;
  font-size: 2.1rem;
  top: 46px;
  left: 4px;
  width: 20px;
  position: relative;
  z-index: 2;
  box-shadow: none;
}

button.geolocation:hover,
button.geolocation:focus,
button.geolocation:active {
  color: #82655b;
  background: none;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

/* backgrounds  */

.background {
  margin: 0 auto;
  text-align: center;
}

.pink-background {
  background-color: #f8dce6;
  height: 220px;
  width: 550px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px auto 0px auto;
  position: relative;
}
.wave {
  width: 550px;
  transform: scaleX(-1);
  position: relative;
  z-index: -1;
}

/* left content */

h1 {
  text-transform: uppercase;
  padding-top: 20px;
  font-size: 2.4rem !important;
  margin-bottom: -0.3rem !important;
}

ul {
  list-style-type: none;
  padding: 0;
}

.left-panel {
  text-align: left;
}

.quote {
  font-size: 1rem;
  letter-spacing: 1px;
}

/* 
temperature */

.temp-line {
  position: relative;
  bottom: 30px;
}

.temp {
  font-size: 5rem;
  position: relative;
}

.metric {
  position: relative;
  bottom: 40px;
  left: 3px;
  font-weight: 600 !important;
}

.metric-link {
  color: #f9f9ed;
  opacity: 0.9;
}

.metric-link:hover {
  color: #82655b;
  text-decoration: none;
}

canvas {
  position: relative;
  top: 5px;
  left: 30px;
}

/* left panel weather description */

.weather-description {
  position: relative;
  bottom: 55px;
  line-height: 1.2rem;
  letter-spacing: 0.03rem;
}

/* right panel */

.right-panel {
  text-transform: lowercase;
  padding-top: 20px;
  text-align: right;
  line-height: 1.3rem;
  letter-spacing: 0.03rem;
  top: 1px;
  right: 25px;
}
